body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  #category {
    display: block;
    padding: 10px;
    background: #3ce0be57;
    text-align: center;
    font-size: 15px;
    color: #213892;
    border-radius: 9px;
    
}
.container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 4px;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
  h2, h3, h4 {
    margin-bottom: 10px;
    color: #333;
  }
  
  button {
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .quiz, .final {
    text-align: center;
  }
  
  .count {
    margin-bottom: 20px;
  }
  
  #questions {
    margin: 20px 0;
    color: #333;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  select, input, label {
    margin-bottom: 15px;
  }
  
  .setting {
    text-align: center;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  input[type="number"] {
    width: 50px;
    padding: 5px;
  }
  
  
  @media (max-width: 600px) {
    .container {
      width: 90%;
    }
  }
  p{
    color:#213892;
    font-weight: 800;
    font-size: 18px;
  }